<%= semantic_form_for @film, :html=>{:multipart => true} do |f| %>

 <%= f.inputs do %>

    <%= f.input :name,
                :label => 'String',
                :as => 'string'
    %>
    <%= f.input :name,
                :label => 'Numeric',
                :as => 'numeric'
    %>
    <%= f.input :name,
                :label => 'Text',
                :as => 'text'
    %>
    <%= f.input :name,
                :label => 'Boolean',
                :as => 'boolean'
    %>
    <%= f.input :name,
                :label => 'Select',
                :as => 'select',
                :collection => ["Option 1", "Option 2","Option 3"]
    %>
    <%= f.input :name,
                :label => 'Date',
                :as => 'date'
    %>
    <%= custom_item_form :label => 'Custom Item',
                         :html => "Visita mi #{link_to('web personal','http://www.miweb.es/')}"
    %>

    <%= bp_group(:id =>'15', :label =>'Grupo de ejemplo con Label') do %>
      <li><p>Grupo con label</p></li>
    <% end  %>

    <%= bp_group(:id =>'15') do %>
      <li><p>Grupo sin label</p></li>
    <% end  %>

    <%= bp_inline(:cols => 2, :label =>'Inline 2', :id =>'id-ejemplo-56', :class => '') do %>

      <%= f.input :name,
              :label => 'String 1',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 2',
              :as => 'string'
      %>

    <% end  %>

    <%= bp_inline(:cols => 3, :label =>'Inline 3', :id =>'id-ejemplo-46', :class => '') do %>

      <%= f.input :name,
              :label => 'String 1',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 2',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 3',
              :as => 'string'
      %>

    <% end  %>

    <%= bp_inline(:cols => 4, :label =>'Inline 4', :id =>'id-ejemplo-46', :class => '') do %>
            <li>ahsdfalfkdjs</li>
      <%= f.input :name,
              :label => 'String 1',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 2',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 3',
              :as => 'string'
      %>
      <%= f.input :name,
              :label => 'String 4',
              :as => 'string'
      %>

    <% end  %>



    <%
       # Uso la variable local :id porque se está usando este partial "_form_asic.html.erb" mas de una vez en la misma página
       tabs_name = "sample_#{id}"
    %>
    <%= bp_tabs(:id => tabs_name, :titles=>['Tab 1', 'Tab 2'], :active=>'') do %>
      
      <%= bp_tab(:id =>tabs_name,:tab => '1') do %>

          <p>tab 1</p>

      <% end  %>

      <%= bp_tab(:id =>tabs_name, :tab => '2') do %>

          <p>tab 2</p>

      <% end  %>


    <% end  %>


  <% end %>


<% end %>

