<nav class="main-menu">
  <div class="wrap">
    <ul>
      <li><%= link_to 'Home', '/' %></li>
      <li><%= link_to 'Buttons', '/buttons/' %></li>
      <li><%= link_to 'Tabs', '/tabs/' %></li>
      <li><%= link_to 'Forms', '/form/' %></li>
      <!--<li><%= link_to 'Go to Admin', '/admin/' %></li>-->
    </ul>
  </div>
</nav>